{% load static %}

<section>
    <div id="footer" class="container-fluid py-5" style="background-image: url({% static 'images/logo/backgroundimages/3_footerbg.webp' %}); background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 contant_info_con">
                    <h4 class="head">Contact Info</h4>
                    <h5>09 420163129</h5>
                    <p>No(1278),Katha street,(19)Ward,South Dagon Tsp,Yangon,Myanmar</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 about_us_con">
                    <h4>About us</h4>
                    <a href="#"><h5>About us</h5></a>
                    <a href="#"><h5>Contact us</h5></a>
                    <h4>Help</h4>
                    <a href="#"><h5>FAQ</h5></a>
                    <a href="#"><h5>How to buy?</h5></a>
                </div>
                <div class="col-12 col-md-4 col-lg-4 follow_us_con">
                    <h4>Follow us</h4>
                    <ul class="follow_icon_ul">
                        <li class="follow_icon_li"><a href="#"><i class="fa-brands fa-facebook fa-fade fa-2xl"></i></a></li>
                        <li class="follow_icon_li"><a href="#"><i class="fa-brands fa-twitter fa-fade fa-2xl"></i></a></li>
                        <li class="follow_icon_li"><a href="#"><i class="fa-brands fa-instagram fa-fade fa-2xl"></i></a></li>
                        <li class="follow_icon_li"><a href="#"><i class="fa-brands fa-facebook-messenger fa-fade fa-2xl"></i></a></li>
                        <li class="follow_icon_li"><a href="#"><i class="fa-brands fa-viber fa-fade fa-2xl"></i></a></li>
                    </ul>
                    <h4>Payment methods</h4>
                    <ul class="payment_icon_ul">
                        <li class="payment_icon_li"><i class="fa-brands fa-paypal fa-2xl"></i></li>
                        <li class="payment_icon_li"><i class="fa-brands fa-cc-visa fa-2xl"></i></li>
                        <li class="payment_icon_li"><i class="fa-brands fa-cc-jcb fa-2xl"></i></li>
                        <li class="payment_icon_li"><i class="fa-brands fa-cc-amazon-pay fa-2xl"></i></li>
                        <li class="payment_icon_li"><i class="fa-brands fa-cc-apple-pay fa-2xl"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--footer section-->


<section>
    <div id="copyright" class="container-fluid">
        <div class="row">
            <div class="col-12 cpright_con">
                <div class="d-flex justify-content-center">
                    <h3>XENDER</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Copyright © Xender Fashing
                    
                        | Design:<a rel="nofollow" href="http://www.tooplate.com" target="_parent"> Min Thiha (Solomon)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</section> <!--copyright section-->